#pragma mark - {{ name }}

{{# isMac }}{{# icons }}+ ({{ imageClass }} *){{ methodNamePrefix }}_{{ method }};

{{/ icons }}{{/ isMac }}{{!
}}{{# images }}+ ({{ imageClass }} *){{ methodNamePrefix }}_{{ method }};

{{/ images }}{{!
}}{{# subfolders }}{{> ObjC.h.methods }}{{/ subfolders }}