{{% CONTENT_TYPE:TEXT }}#pragma mark - {{ name }}

{{# isMac }}{{# icons }}+ ({{ imageClass }} *){{ frameworkPrefix }}{{ method }};

{{/ icons }}{{/ isMac }}{{!
}}{{# images }}+ ({{ imageClass }} *){{ frameworkPrefix }}{{ method }};

{{/ images }}{{!
}}{{# subfolders }}{{> ObjC.h.methods }}{{/ subfolders }}