#pragma mark - {{ name }}

{{# isMac }}{{# icons }}+ ({{ imageClass }} *){{ methodNamePrefix }}_{{ method }}
{
    return [{{ imageClass }} imageNamed:{{ constantStructName }}.{{ method }}];
}

{{/ icons }}{{/ isMac }}{{!
}}{{# images }}+ ({{ imageClass }} *){{ methodNamePrefix }}_{{ method }}
{
    return [{{ imageClass }} imageNamed:{{ constantStructName }}.{{ method }}];
}

{{/ images }}{{!
}}{{# subfolders }}{{> ObjC.m.methods }}{{/ subfolders }}