    // MARK: - {{ name }}
    
{{# isMac }}{{# icons }}    static func {{ methodNamePrefix }}_{{ method }}() -> {{ imageClass }} {
        return {{ imageClass }}(c2cName: {{ swiftEnumName }}.{{ method }})
    }
    
{{/ icons }}{{/ isMac }}{{!
}}{{# images }}    static func {{ methodNamePrefix }}_{{ method }}() -> {{ imageClass }} {
        return {{ imageClass }}(c2cName: {{ swiftEnumName }}.{{ method }})
    }
    
{{/ images }}{{!
}}{{# subfolders }}{{> swift.methods }}{{/ subfolders }}