{{> heading }}
import {{ kitName }}

extension {{ imageClass }} {

{{# folders }}{{> swift.methods }}{{/ folders }}{{!
}}}

struct {{ constantStructName }} {
{{# folders }}{{> swift.struct }}{{/ folders }}{{!
}}}
