{{> heading }}
import {{ kitName }}

extension {{ imageClass }} {

{{# folders }}{{> swift.methods }}{{/ folders }}{{!
}}}

private extension {{ imageClass }} {
convenience init(c2cName: {{ swiftEnumName }}) {
    self.init(named: c2cName.rawValue)!
}

enum {{ swiftEnumName }} {
    case
{{# folders }}{{> swift.enum }}{{/ folders }}{{!
}}}
