    // {{ name }}
{{# isMac }}{{# icons }}    static let {{ method }} = "{{ name }}"
{{/ icons }}{{/ isMac }}{{!
}}{{# images }}    static let {{ method }} = "{{ name }}"
{{/ images }}{{!
}}{{# subfolders }}{{> swift.struct }}{{/ subfolders }}