    // MARK: - {{ name }}
    
{{# isMac }}{{# icons }}    class func {{ frameworkPrefix }}{{ method }}() -> {{ imageClass }}? {
        return {{ imageClass }}(swiftEnumName: {{ swiftEnumName }}.{{ method }})
    }
    
{{/ icons }}{{/ isMac }}{{!
}}{{# images }}    class func {{ frameworkPrefix }}{{ method }}() -> {{ imageClass }} {
        return {{ imageClass }}(c2cName: {{ swiftEnumName }}.{{ method }})
    }
    
{{/ images }}{{!
}}{{# subfolders }}{{> swift.methods }}{{/ subfolders }}